In [1]:
import xlwings as xw
import make_odds_df

In [2]:
# リアルタイムオッズEX に接続
# wb = xw.Book('リアルタイムオッズEX_Free_ver1.0.0.xlsm')
wb = xw.Book('リアルタイムオッズEX_Pro_ver1.0.0.xlsm')

In [3]:
# 単勝・複勝シート に接続
tansyo_sheet = wb.sheets['単勝・複勝']

In [4]:
# レース情報
tansyo_sheet.range('D11').value

'2021/08/29 (日) 15:45 4回 新潟 6日 11R 芝 1,600m 新潟２歳ステークス'

#### 単勝

In [5]:
tansyo_odds_df = make_odds_df.get_tansyo_odds(wb)
print(tansyo_odds_df.shape)
tansyo_odds_df.head()

(12, 2)

   umaban  tansyo_odds
0       1          4.5
1       2         11.3
2       3         17.7
3       4         81.6
4       5         12.1

#### 複勝

In [6]:
fukusyo_odds_df = make_odds_df.get_fukusyo_odds(wb)
print(fukusyo_odds_df.shape)
fukusyo_odds_df.head()

(12, 3)

   umaban  fukusyo_odds_low  fukusyo_odds_high
0       1               1.3                1.9
1       2               2.4                3.7
2       3               3.4                5.5
3       4               9.9               16.4
4       5               2.3                3.5

#### 枠連

In [7]:
wakuren_odds_df = make_odds_df.get_wakuren_odds(wb)
print(wakuren_odds_df.shape)
wakuren_odds_df.head()

(32, 3)

   waku_1  waku_2  wakuren_odds
0       1       2          22.4
1       1       3          42.9
2       1       4         140.5
3       1       5           7.9
4       1       6           6.1

#### 馬連

In [8]:
umaren_odds_df = make_odds_df.get_umaren_odds(wb)
print(umaren_odds_df.shape)
umaren_odds_df.head()

(66, 3)

   umaban_1  umaban_2  umaren_odds
0         1         2         20.9
1         1         3         39.9
2         1         4        168.1
3         1         5         22.5
4         1         6          9.7

#### ワイド

In [9]:
wide_odds_df = make_odds_df.get_wide_odds(wb)
print(wide_odds_df.shape)
wide_odds_df.head()

(66, 4)

   umaban_1  umaban_2  wide_odds_low  wide_odds_high
0         1         2            6.4             7.5
1         1         3           12.4            14.3
2         1         4           37.2            42.0
3         1         5            6.6             7.6
4         1         6            3.4             4.2

#### 馬単

In [10]:
umatan_odds_df = make_odds_df.get_umatan_odds(wb)
print(umatan_odds_df.shape)
umatan_odds_df.head()

(132, 3)

   umaban_1  umaban_2  umatan_odds
0         1         2         36.4
1         1         3         65.2
2         1         4        242.6
3         1         5         39.5
4         1         6         20.1

#### 3連複

In [11]:
sanrenpuku_odds_df = make_odds_df.get_sanrenpuku_odds(wb)
print(sanrenpuku_odds_df.shape)
sanrenpuku_odds_df.head()

(220, 4)

   umaban_1  umaban_2  umaban_3  sanrenpuku_odds
0         1         2         3             83.5
1         1         2         4            360.9
2         1         2         5             54.6
3         1         2         6             30.1
4         1         2         7            114.2

#### 3連単

In [12]:
sanrentan_odds_df = make_odds_df.get_sanrentan_odds(wb)
print(sanrentan_odds_df.shape)
sanrentan_odds_df.head()

(1320, 4)

   umaban_1  umaban_2  umaban_3  sanrentan_odds
0         1         2         3           305.9
1         1         2         4          1641.8
2         1         2         5           243.1
3         1         2         6           168.5
4         1         2         7           461.9